* { /*sets cursor to bike*/
    cursor: url(Cursor/bike.cur), auto;
    font-family: Georgia, Times, serif;
}



.navbar-inverse{ /*Navbar*/
  font-size:1.4em;
  margin-bottom:0px;

}

.parallax-window { /*Parallax*/
    min-height: 800px;
    max-width: auto;
    background: cover transparent;

}

.container-parallax{ /*Parallax*/
  position: top center;
  margin: 50;
  background-size: cover;
  width: 100%;

}

.info{ /*Title Header*/
  z-index: 1;
  position: relative; top: 100px;
  color: black;
  font-family: Georgia, Times, serif;
  font-size: 4em;
  text-shadow: 2px 2px 3px

}
.info1{ /*Subtitle-name*/
  z-index: 1;
  position: relative; top: 100px;
  font-family: Georgia, Times, serif;
  font-size: 2em;
}

.bg-primary {  /*Section of Graphs*/
  background-color: grey !important;
  font-size: 1.5em;
  padding-bottom: 20rem;
  padding-top: 5rem;
  position: relative; top: -10px;

}

.profilePic{ /*Graphs*/
  float:right;
  margin:0px -400px 100px 50px;
}

.parallax {
    min-height: 600px;
    max-width: 800px;
    /*background: cover transparent;*/
}

/*First Question*/
slice.container-fluid{
  /*position: top center;*/
  padding-top: -50rem;
  margin:0px -400px 100px 50px;
  position: relative; top: -800px
  position: relative; right: 50px;
  font-size: 1.5em;
}

#q1 { /*First Question*/
  margin:0px 80px 100px 100px;
  position: relative; right: -750px
}

.button { /*button class*/
  height: 100px;
  width: 300px;
  background-color: white; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#button1 {
  margin:100px 80px 100px 100px;
  position: relative; right: -25px
  background-color: white;
  color: black;
  border: 2px solid #7f41f4;
}

#button1:hover {
    background-color:#f49242;
    color: white;
}


.parallax2 {
    min-height: 600px;
    max-width: 800px;
    margin:-100px 0px 500px 800px; /*Position of Second bike picture*/
    /*background: cover transparent;*/
}

/*Second Question*/
slice2.container-fluid{
  /*position: top center;*/
  padding-top: -10rem;
  margin:0px 0px 100px 50px;
  position: relative; top: -500px
  position: relative; right: -500px;
  font-size: 1.5em;
}

#button2 {
  margin:100px 0px 100px 50px;
  position: relative; right: -25px
  background-color: white;
  color: black;
  border: 2px solid black;
}
#button2:hover {
    background-color:grey;
    color: white;
}

#q2 { /*Third Question*/
  margin:0px -5px 10px -1550px;
  position: relative; right: -750px
}

.parallax3 {
    min-height: 600px;
    max-width: 800px;
    margin:-500px 0px 500px 0px; /*Position of third bike picture*/
    /*background: cover transparent;*/
}

/*Third Question*/
slice3.container-fluid{
  /*position: top center;*/
  padding-top: -500rem;
  margin:0px -400px 100px 5000px;
  position: relative; top: 0px
  position: relative; right: 50px;
  font-size: 1.5em;
}

#button3 {
  margin:100px 80px 100px 100px;
  position: relative; right: -25px
  background-color: white;
  color: black;
  border: 2px solid green;
}

#button3:hover {
    background-color:#f4b541;
    color: white;
}

#q3 { /*Third Question*/
  margin:0px 80px 100px 100px;
  position: relative; right: -750px
}

.parallax-window2 { /*Parallax*/
    min-height: 400px;
    max-width: auto;
    background: cover transparent;

}

.container-parallax2{ /*Parallax*/
  position: top center;
  margin: 50;
  background-size: cover;
  width: 100%;

}
.bonus { /*text for bonus*/
  z-index: 1;
  position: relative; top: 100px;
  color: black;
  font-family: Georgia, Times, serif;
  font-size: 4em;
  text-shadow: 2px 2px 3px
}
